<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655484012129-51o1rmbcu8p1bp5n6gjgfa1q8ifb0gg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655484012129-51o1rmbcu8p1bp5n6gjgfa1q8ifb0gg5</string>
	<key>API_KEY</key>
	<string>AIzaSyCa2_zSZPZdtXXiysIbOQx8B_Ru3hcZIn8</string>
	<key>GCM_SENDER_ID</key>
	<string>655484012129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.halkaArzTemettu</string>
	<key>PROJECT_ID</key>
	<string>borsatemettutakip</string>
	<key>STORAGE_BUCKET</key>
	<string>borsatemettutakip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655484012129:ios:73823288eac5fec5fc0c20</string>
</dict>
</plist>